.nav{
    min-height: 150px;
    background-image: url("../../assets/images/work-thumbs/blue-binary.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#noTextDec{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.noTextDec{
    color: black;
}

.nav-link.active{
    background-color: lightslategray;
}