.nav{
    min-height: 150px;
    background-image: url("../../assets/images/work-thumbs/blue-binary.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#noTextDec{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.noTextDec{
    color: black;
}

.nav-link.active{
    background-color: lightslategray;
}

#asideImg{
    background-image: url("../../assets/images/work-thumbs/me.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.git_link {
    width: 30px;
    margin: 0px 10px 0px 5px;
  }

  a img.hover {
    display: none;
  }
  a img.default {
    display: inherit;
  }
  a:hover img.hover {
    display: inherit;
  }
  a:hover img.default {
    display: none;
  }

  .label {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    padding: 10px;
    width: max-content;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .hoverLink{
    color: lightblue;
  }

  .hoverLink:hover{
    color: white;
    text-decoration: none;
  }

  @media screen and (max-width:1000px) {
    #projContainer{
      flex-direction: column;
    }

    h3{
      font-size: 10px !important;
    }
  }

  .resumeBtn {
    height: 30px;
  }

  .icon {
    width: auto;
    height: 50px;
    margin: 10px;
  }

